<a href="javascript:void(0);" class="btn-prev">
				  					<svg width="42" height="9" viewBox="0 0 42 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_19_2308)">
								<path d="M0 0H41.3V1H2.4L9.7 8.3L9 9L0 0Z" />
								<path d="M0 0H41.3V1H2.4L9.7 8.3L9 9L0 0Z" />
								</g>
								<defs>
								<clipPath id="clip0_19_2308">
								<rect width="42" height="9" fill="white"/>
								</clipPath>
								</defs>
								</svg></a>