<a href="javascript:void(0);" class="btn-next"><svg width="42" height="9" viewBox="0 0 42 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_19_2312)">
								<path d="M42.0002 9H0.700195V8H39.6002L32.3002 0.7L33.0002 0L42.0002 9Z"/>
								<path d="M42.0002 9H0.700195V8H39.6002L32.3002 0.7L33.0002 0L42.0002 9Z"/>
								</g>
								<defs>
								<clipPath id="clip0_19_2312">
								<rect width="42" height="9" fill="white"/>
								</clipPath>
								</defs>
								</svg></a>