<section class="service-page p-60 ">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 align-self-center mb-5">
				<div class="about-content">
					{{ page.content }}
				</div>
			</div>
			<div class="col-lg-5 ">
				
			</div>
		</div>
	</div>
	<div class="service-banner">
      {% if section.settings.image != blank %}
		 <img src="{{ section.settings.image | img_url : 'master' }}" loading="lazy" alt="{{ section.settings.image.alt }}" class="img-fluid">
        {% else %}
            {{ 'collection-1' | placeholder_svg_tag }}
        {% endif %}
	</div>
</section>
{% schema %}
  {
    "name": "Image with Content",
    "settings": 
    [
        {
           "type" : "image_picker",
            "id" : "image",
            "label" : "Image"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}